body{
    background-color: black;
}

/* header */

header{
    text-align: right;
    position: fixed;
    right: 0;
    height: 70px;
}

header>button{
    color: white;
    background-color: #4E6882;
    margin: 5px;
}