/* utils */

body{
    background-color: black;
}

.container{
    width: 1200px;
    margin: auto;
}

/* header */

header{
    text-align: right;
    right: 0;
    height: 70px;
    width: 100%;

    /* debug */
    background-color: black;
}

header>button{
    color: white;
    background-color: #4E6882;
    margin: 5px;
    padding: 5px;
}


/* main */

.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 5px;
}

.col{
    width: calc(100% / 7 - 10px);
    position: relative;
}

.pinco{
    position: absolute;
    bottom: 4px;
    left: 0;
    color: white;
    backdrop-filter: brightness(40%);

}

/* footer */

footer{
    display: flex;
    justify-content: space-between;
    color: white;
    background-color: #222222;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer>*{
    margin: 5px;
    font-size: 20px;
}

.video{
    margin: 5px;
}

